body {
    font-family: Cursive, Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1580698033320-1b9c13881c06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}
  
main {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(250,250,250,0.9); 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: none;
    padding-bottom: 25px;
}

main header {
    text-align: center;
    color: cornflowerblue;
}

.theform {
    width: fit-content;
    background-color: cornflowerblue;
    color: white;
    box-sizing: border-box;
    margin: 20px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: none;
    padding: 20px 40px;
  }

  .theform label {
    color: white;
    font-size: medium;
  }

  .yourinfo input {
    width: 60%;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    line-height: 16px;
    display: block;
    height: 36px;
    padding: 5px 12px;
  }

  .yourinfo select {
    width: 100%;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    line-height: 16px;
    display: block;
    height: 36px;
    padding: 5px 12px;
  }

  /*.jobinfo {
    width: fit-content;
    background-color: cornflowerblue;
    color: white;
    box-sizing: border-box;
    margin: 20px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: none;
    padding: 20px 40px;

  }*/

  .jobinfo input[button] {
    width: 100%;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    line-height: 16px;
    display: block;
    height: 36px;
    padding: 5px;
  }

  .jobinfo select {
    width: 100%;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    line-height: 16px;
    display: block;
    height: 36px;
    padding: 5px 12px;
  }

  .jobinfo textarea {
    width: fit-content;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    line-height: 16px;
    display: block;
    height: fit-content;
    padding: 12px;
  }

  .sendorclear input {
    width: 100%;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    line-height: 16px;
    display: block;
    height: 36px;
    padding: 5px;
    font-family: Cursive, Arial, Helvetica, sans-serif;
    color: cornflowerblue;
  }

  .sendin input:hover {
    opacity: 0.7;
  }

 .clear input:hover {
   opacity: 0.7;
 }
  